.head {
  height: 100%;
  margin: 0 auto;
  background: url("../../public/background/O_nama.png");
  @media (max-width: 1024px) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
      url("../../public/background/O_nama2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  background-position-x: center;
  @media (min-width: 1920px) {
    // background-size: contain;
    background-position-y: 80%;
  }

  display: flex;
  justify-content: center;
  &__main {
    margin: 0 auto;
    margin-top: 235px;
    margin-bottom: 225px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_logo {
      img {
        @media (max-width: 810px) {
          width: 133.252px;
        }
      }
    }
    &_text {
      margin-top: 4rem;
      font-family: "Playfair Display", sans-serif;
      width: 99rem;
      font-weight: 700;
      font-size: 4.4rem;
      text-transform: uppercase;
      line-height: 55.65px;
      text-align: center;
      color: #fff;
      @media (max-width: 1200px) {
        font-size: 3.6rem;
        width: 80rem;
      }
      @media (max-width: 900px) {
        width: 70rem;
        font-size: 3rem;
      }
      @media (max-width: 810px) {
        width: 37rem;
      }
      @media (max-width: 500px) {
        width: 32rem;
        font-size: 2.6rem;
      }
      @media (max-width: 370px) {
        width: 28rem;
      }
    }
    &_btns {
      margin-top: 50px;
      display: flex;
      gap: 2rem;
      font-size: 1.8rem;

      // @media (max-width: 1350px) {
      //   font-size: 1.4rem;
      // }

      &_2 {
        padding: 13px 32px;
        border-radius: 30px;
        background: $dark-brown;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.52);
        @media (max-width: 1200px) {
          // padding: 10px 28px;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.header {
  width: 100%;
  position: absolute;
  background: $black-color-opc;
  color: #fff;
  &_flex {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 425px) {
      height: 6.4rem;
    }
  }
  .menu__icon {
    // position: relative;
    @media (min-width: 1025px) {
      display: none;
    }
    svg {
      height: 50px;
      width: 50px;
      @media (max-width: 425px) {
        height: 32px;
        width: 32px;
      }
    }
    .overlay {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      .sidebar {
        position: absolute;
        right: 0;
        top: 0;
        width: 32rem;
        height: 100%;
        background-color: #fff;
        padding: 2rem;
        &__content {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          color: $dark-brown;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            bottom: -30px;
            height: 1px;
            width: 100%;
            background: $dark-brown;
          }
          svg {
            height: 50px;
            width: 50px;
            fill: $medium-brown;
            @media (max-width: 425px) {
              height: 32px;
              width: 32px;
            }
          }
          .links {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            span {
              font-size: 2.2rem;
              &:hover {
                color: $medium-brown;
              }
            }
            .prodavnicaSide {
              display: flex;
              flex-direction: column;
              // align-items: center;
              justify-content: space-between;
              gap: 1rem;
              transition: height 0.5s ease-in;
              .prodavnicaEnter {
                height: 0;
                opacity: 0;
              }
              .prodavnicaEnterActive {
                height: 160px;
                opacity: 1;
                transition: all 0.2s ease-in-out;
              }
              .prodavnicaExit {
                height: 160px;
                opacity: 1;
              }
              .prodavnicaExitActive {
                height: 0;
                opacity: 0;
                transition: all 0.2s ease-in-out;
              }
              &__start {
                display: flex;
                justify-content: space-between;
              }

              svg {
                width: 30px;
                height: 30px;
                cursor: pointer;
              }
              &__dropdown {
                ul {
                  display: flex;
                  flex-direction: column;
                  gap: 1.6rem;
                  li {
                    font-size: 1.4rem;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }

                padding-left: 30px;
              }
            }
          }
        }
      }
      .sideBarEnter {
        transform: translateX(100%);
      }
      .sideBarEnterActive {
        transform: translateX(0%);
        transition: transform 0.3s ease-in-out;
      }
      .sideBarExit {
        transform: translateX(0%);
      }
      .sideBarExitActive {
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  &__logo {
    position: relative;
    width: 300px;
    @media (max-width: 800px) {
      width: 100px;
    }
    &_img1 {
      position: absolute;
      width: 96.24px;
      height: 46.35px;
      top: -25px;
      @media (max-width: 425px) {
        width: 70.33px;
        height: 33.87px;
        top: -14px;
      }
    }
    &_img2 {
      position: absolute;
      width: 22px;
      top: -30px;
      left: 30px;
      @media (max-width: 425px) {
        width: 15.98px;
        height: 16.86px;
        top: -20px;
        left: 23px;
      }
    }
  }
  &__nav {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21.2px;
    display: flex;
    gap: 3.2rem;
    @media (max-width: 1024px) {
      display: none;
    }
    .active__page {
      color: $medium-brown;
    }
    span {
      cursor: pointer;
      :hover {
        color: $dark-brown;
      }
    }
    .hover {
      :hover {
        color: $dark-brown;
      }
    }
    &_pocetna {
    }
  }
  &__btns {
    display: flex;
    gap: 1.6rem;
    font-size: 1.8rem;
    align-items: center;
    font-weight: 700;
    @media (max-width: 1024px) {
      display: none;
    }
    &_kontakt {
      padding: 10px 24px;
      border-radius: 30px;
      background: $medium-brown;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.52);
      @media (max-width: 1350px) {
        // display: none;
        padding: 8px 20px;
      }
      svg {
        width: 18px;
        height: 18px;
      }
      transition: all 0.2s;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}
