.big_overlay {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  // @media (max-width: 1024px) {
  //   display: none;
  // }
  .img_container {
    position: relative;
    height: 100%;
    svg {
      position: absolute;
      width: 4rem;
      height: 4rem;
      right: calc(-100% + 105%);
      top: calc(100% - 97%);
      cursor: pointer;
      fill: $medium-brown;
    }
  }
}
