.img {
  background: url("../../public/background/Rectangle_16.png");
  z-index: 0;
  max-width: 1920px;
  background-position-x: center;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
      url("../../public/background/Prodavnica1.jpg");
    background-position-x: center;
    background-position-y: 50%;
    background-size: cover;
  }
}
.img_zenske {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
    url("../../public/background/Zenska_obuca1.jpg");

  z-index: 0;
  max-width: 1920px;
  background-position-y: 100%;
}
.img_muske {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
    url("../../public/background/Muska_obuca1.jpg");
  z-index: 0;
  max-width: 1920px;
  background-position-y: 60%;
}

.head {
  width: 100%;
  // height: 52rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin-top: 200px;
    margin-bottom: 200px;
    @media (max-width: 600px) {
      margin-top: 160px;
      margin-bottom: 131px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    @media (max-width: 900px) {
      gap: 3.6rem;
    }
    @media (max-width: 500px) {
      gap: 3.2rem;
    }
    h1,
    p {
      color: #fff;
      // color: black;
    }
    h1 {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 4.4rem;
      line-height: 59px;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 1200px) {
        font-size: 3.6rem;
      }
      @media (max-width: 900px) {
        font-size: 3rem;
      }
      @media (max-width: 500px) {
        font-size: 2.6rem;
      }
    }
    p {
      //   font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 24px;
      padding-left: 2.2rem;
      padding-right: 2.2rem;
      text-align: center;
      @media (max-width: 90rem) {
        font-size: 2rem;
      }
      @media (max-width: 50rem) {
        font-size: 1.8rem;
      }
    }
  }
}
